.tic-tac-toe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .board {
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
  }

  .cell {
    background: #fff;
    color: #000;
    height: 100px;
    width: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }

  .cell:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }
  
}